<!DOCTYPE html>
<html ng-app="myApp">

    <head>
        <link rel="icon" type="image/png" href="http://dl.dropboxusercontent.com/u/106116225/icon/icon.png">
        <link rel="stylesheet" href="internal.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script src="script.js"></script>
        <script src="ngAutoComplete.js"></script>
    </head>
    <body>
        <div id="main">
            <div id="header">
                <span style="float:right;color:grey;margin-top:30px" my-current-time="format"> </span>
                <img style="float:left;position:relative;height:80px;margin-bottom:10px" ng-src="./logo/WeatherAppLogo.png"/>
            </div>
            <div class="container" id="first">
                <div ng-controller="TestCtrl">
                <form id="form" role="form">
                    <div class="form-group move-down">
                    <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
                    </div>
                </form>
                    <h5 ng-if="result1 && !weatherResults && !loading"><i>Unable to retrieve weather report for: </i><b>{{result1}}</b></h5>
                    <div id="weather" ng-if="loading" class="spinner"><img ng-src="./icon/spinner.gif"/></div>
                <div id="weather" ng-if="city && !loading && weatherResults">
                    <h5 class="title"><i> Weather forecast for : </i></h5><a href="{{locationUrl}}" ng-if="!loading"><h4 class="ng-cloak city-name">{{city | titlecase}}</h4></a>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th style="width:15%">Date</th>
                                <th style="width:10%">Day</th>
                                <th style="width:20%">Weather</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in weather">
                                <td style="width:15%">{{result.date}}</td>
                                <td style="width:10%">{{result.day | fullDay}}</td>
                                <td style="width:20%">
                                    <table>
                                        <tr>
                                            <td rowspan="2">                       <img ng-src="http://l.yimg.com/a/i/us/we/52/{{result.code}}.gif"/>       </td>                        <td>High: {{result.high | formatTemperature: 'C':true}}C
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Low: {{result.low | formatTemperature: 'C':true}}C
                                            </td>
                                        </tr>
                                    </table>{{result.text}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <div id="temp">
                    </div>
            </div>
            <div ng-controller="MapCtrl" id="second">
                <br/>
                <br/>
                <div id="map"></div>
            </div>
    </div>
    <div id="footer">
        Mail me: <a href="mailto:daram.vijaykumar@gmail.com?Subject=Regarding%20WeatherApp" target="_top">daram.vijaykumar@gmail.com</a> 
    </div>
</div>
</body>
</html>